.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

input.pointer{
    cursor: pointer;
}

#pointer{
    cursor: pointer;
}

button{
    padding: 10px;
    /* text-transform: uppercase; */
    font-weight: 500;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 30px;
    box-shadow: 0px 8px 15px rgb(195, 195, 195);
    transition: all 0.3s ease 0s;
    outline: none;
}

button:hover{
    /* background-color: rgb(255, 128, 0); */
    background: linear-gradient(to right,#ff9100, #fdcf00);
    box-shadow: 0px 13px 20px rgba(255, 198, 40, 0.844);
    color: rgb(255, 255, 255);
    transform: translateY(-1px);
    /* transition: opacity 0.5s; */
}

/* button:focus{
    transition-delay: 3s;
} */

button:active{
    outline: 2px solid rgb(255, 128, 0);
}

tr, td{
    text-align: center;
    padding: 20px 10px;
}

th{
    padding: 5px;
}